body {

    padding-left: 10px;
    background-color: black;
}

#topNavigation {
    text-align: center;
    border-color: cornsilk;
    background-color: cornsilk;
    border-style: double;
    padding: 5px;

}

.nav {
    margin: 15px;
}

a {
    font-family: 'Roman';
}

a:visited {
    color: black;
}

a:hover,
a:active {
    background-color: burlywood;
    border-color: burlywood;
}

#page {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    width: 500px;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -400px;
    background-image: url(images/old_paper_01_by_silver.png);
}


#prompt {
    position: relative;
    height: fit-content;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roman';
    max-width: 600px;
}

#choices {
    position: relative;
}

.choicesPrompt {
    position: relative;
    text-align: center;
    color: black;
    transition: transform ease 300ms;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roman';
}

.choicesPrompt:hover {
    transform: translate(0, -5px);
    cursor: pointer;
}

@font-face {
    font-family: 'Roman';
    src: url('fonts/Parix-Hybrid111R.otf') format('opentype');
}